$btn_dark: #263238;
$btn_success: #388e3c;
$btn_danger: #e53935;
$btn_warning: #ffc107;
$white: #FFFFFF;
$text_color: #222222;

/deep/ .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 420px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
  z-index: 1000;

  @keyframes show {
    from {
      top: 0;
      opacity: 0;
    }

    to {
      top: 50%;
      opacity: 1;
    }
  }

  &.open {
    animation: show .5s;
  }

  .modal-body {
    padding: 30px;

    .card-title {
      padding-bottom: 20px;
      color: #455a64;
    }

    .card-body {
      text-align: justify;
      color: $text_color;
    }

    .custom-form-group {
      margin-top: 15px;

      label {
        display: block;
        margin-bottom: 10px;
        color: $text_color;
      }

      input {
        box-sizing: border-box !important;
        width: 100% !important;
        padding: 12px 20px !important;
        background: #FFFFFF !important;
        border: 1px solid #d6d6d6 !important;
        border-radius: 5px !important;
        transition: .25s !important;
      }

      input:hover {
        border: 1px solid #333333 !important;
      }

      input:focus {
        border: 1px solid #7F60DE !important;
      }

      input.ng-touched.ng-invalid {
        border: 1px solid #F40D1D !important;
      }
    }

    .modal-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      padding: 24px 0 0 0;
      flex-wrap: wrap;

      button {
        padding: 11px 40px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: .25s;
        margin: 10px 0 10px 20px;

        &.modal-button-dark {
          background: $btn_dark;
          color: $white;

          &:disabled {
            opacity: .5;
          }
        }

        &.modal-button-success {
          background: $btn_success;
          color: $white;

          &:disabled {
            opacity: .5;
          }
        }

        &.modal-button-danger {
          background: $btn_danger;
          color: $white;

          &:disabled {
            opacity: .5;
          }
        }

        &.modal-button-warning {
          background: $btn_warning;
          color: $white;

          &:disabled {
            opacity: .5;
          }
        }
      }
    }
  }
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .45);
  z-index: 999;
}

